<div class="page-main2">
  <div class="row headTilteDialog">
      <h3 mat-dialog-title>Edit UserProfile</h3>
    </div>
    <form [formGroup]="editProfile" (ngSubmit)="onSubmit()">
    
        <div class="row mt-3">
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> First Name </mat-label>
          </div>
          <div class="col-4">
            <input class="form-control"  formControlName="firstName">
  
          </div>
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> Last Name </mat-label>
          </div>
          <div class="col-4">
            <input class="form-control"  formControlName="lastName">
  
          </div>
        </div>
        
        <div class="row mt-3">
          
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> Birth Of Date </mat-label>
          </div>
          <div class="input-group" class="col-4">
            <input formControlName="startDate" class="form-control" [matDatepicker]="pickerStart">
            <div class="input-group-append">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </div>
        </div>
  
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> Age </mat-label>
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="age">            
  
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> Address </mat-label>
          </div>
          <div class="col-4">
            <textarea class="form-control" formControlName="address"></textarea>
  
          </div>
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> Position </mat-label>
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="position">         
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-2 mt-2" style="text-align: right;">
            <mat-label> Site </mat-label>
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="site">
  
          </div>
        </div>
      <div mat-dialog-actions  class="mt-3" style="float: right;">
        <button mat-raised-button class="btn-submit" type="submit">Save</button>    
        <button mat-raised-button class="btn-cancle" (click)="canCle()">Cancle</button>     
      </div>    
    </form>
  
      <swal #saveSwal title="" icon="warning" [width]="480" confirmButtonText="Save" confirmButtonColor="#82dcc3"
      [showCancelButton]="true" [allowOutsideClick]="false" (confirm)="onSave()">
    </swal>
    <swal #saveSucessSwal title="" icon="success" [allowOutsideClick]="false" (confirm)="getUserProfile()" [width]="480">
    </swal>
  </div>
  
  
  
  
  