<div class="row headTilteDialog">
  <h2 mat-dialog-title>Assign Project</h2>
</div><br>

<form [formGroup]="createAssignProject" (ngSubmit)="onSubmit()">
  <div class="row mt-3">
    <div class="col-2 mt-2" style="text-align: right;">
      <mat-label>Project Code</mat-label>
    </div>
    <div class="col-4">
      <input class="form-control" formControlName="projectCode">
    </div>
    
    <div class="col-2 mt-2" style="text-align: right;">
      <mat-label> Project Name</mat-label>
    </div>
    <div class="col-4">
      <input class="form-control" formControlName="projectName" >

    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 mt-2" style="text-align: right;">
      <mat-label> Description </mat-label>
    </div>
    <div class="col-10">
      <textarea class="form-control" formControlName="description" ></textarea>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2 mt-2" style="text-align: right;">
      <mat-label> Date </mat-label>
    </div>
        <div class="input-group" class="col-4">
          <input formControlName="date" class="form-control" [matDatepicker]="pickerStart">
          <div class="input-group-append">
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
          </div>
      </div>
    <div class="col-2 mt-2" style="text-align: right;">
      <mat-label> User Code Supervisor </mat-label>
    </div>
    <div class="col-4">
      <input class="form-control" formControlName="userCodeSupervisor" disabled>
    </div>
  </div>

<div mat-dialog-actions class="mt-3" style="float: right;">
  <button mat-raised-button type="submit" class="btn-submit">Save</button>
  <a mat-raised-button class="btn-cancle" (click)="canCle(false)">Cancel</a>
</div>
</form>

<swal #saveSwal title="" icon="warning" [width]="480" confirmButtonText="Save" confirmButtonColor="#82dcc3"
[showCancelButton]="true" [allowOutsideClick]="false" (confirm)="onSave()">
</swal>
<swal #saveSucessSwal title="" icon="success" [allowOutsideClick]="false" (confirm)="canCle(true)" [width]="480">
</swal>
