<div class="page-main">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="row">
    <div class="col-6" style="color: #737373;">
      <mat-icon style="vertical-align: middle;">home</mat-icon>
      <mat-icon style="vertical-align: middle;">chevron_right</mat-icon>
      <span style="font-size: 1.2rem;"> DASHBOARD </span>
    </div>
  </div>

  <div class="row" *ngIf="isSup">
    <div class="col-12" style="text-align: right;">
      <button mat-raised-button class="btn-submit" (click)="onDialogAssign()">
        <mat-icon>assignment_return</mat-icon>
        Add Project
      </button>
    </div>
  </div>

  <div class="row" *ngIf="isSup">
    <div class="col-3 mt-3" *ngFor="let project of projectList">
      <mat-card style="cursor: pointer;" appMaterialElevation>
        <mat-card-title class="example-card2">Code: {{project.projectCode}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-header style="place-content: center;" (click)="goUserProject(project)">
          <mat-card-title class="example-card">{{project.projectName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center;">{{project.description}}</mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions style="text-align: center">
          <button mat-button class="card-button" (click)="openDialogEdit(project)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-button class="card-button" (click)="onDeleteSwal(project)">
            <mat-icon>delete_forever</mat-icon> Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row" *ngIf="!isSup">
    <div class="col-3 mt-3" *ngFor="let project of projectList">
      <mat-card style="cursor: pointer;" appMaterialElevation>
        <mat-card-title class="example-card2">Code: {{project.id.project.projectCode}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-header style="place-content: center;" (click)="goUserProject(project)">
          <mat-card-title class="example-card">{{project.id.project.projectName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center;">{{project.id.project.description}}</mat-card-content>
      </mat-card>
    </div>
  </div>

</div>

<swal #deleteSwal title="" icon="warning" [width]="480" confirmButtonText="Save" confirmButtonColor="rgb(163, 236, 114)"
  [showCancelButton]="true" [allowOutsideClick]="false" (confirm)="onDelete()">
</swal>
<swal #deletedSucessSwal title="" icon="success" [allowOutsideClick]="false" (confirm)="deletedSucess()" [width]="480">
</swal>